@page "/counter"
@* @using Employees.Data *@

@* @inject DataService DataService *@
@rendermode InteractiveServer

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        //# DataService.GetEmployee(1);
        currentCount++;
    }

}